<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>
        Chris Taylor - 
        {% if page.title %}{{ page.title }}
        {% else %}{{ site.title }}
        {% endif %}
    </title>

    <meta name="description" content="">
    <meta name="keywords" content="keyword, keyword">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
</head>
