---
layout: default
---

<div class="container-about">

    <header class="abHeader" role="heading">
        <nav class="abNav" role="navigation">
            <a href="{{ site.baseurl }}">&#8592; Back</a> &nbsp;&nbsp; Chris Taylor <span>UX Architect</span>
        </nav>
    </header>

    <main class="abMain" role="main">
        <div class="abBlurb">
            {{ content }}
        </div>
        <div class="abDetails">
            <h3>Experience</h3>
            <p>{{ page.experience }}</p>
            <h3>Education</h3>
            <ul>
                <li>BA Graphic Media Communication (First class honours) <span class="school">at Bradford University </span></li>
                <li>BSc Human-Computer Interaction (First class Masters) <span class="school">at City, University of London</span></li>

            </ul>
            <h3>Contact</h3>
            <ul>
                <li><a href="mailto:chris@apathofbravery.com">Email me</a></li>
                <li><a href="https://www.linkedin.com/in/uxchristophertaylor/">Meet on LinkedIn</a></li>
                <li><a href="../assets/images/chris-taylor-cv-2020.pdf">Download Resume</a></li>
            </ul>
        </div>
    </main>

    <footer class="abFooter" role="contentinfo">
        {% include footer-meta.html %}
    </footer>

</div>
